*
!.gitignore
!.editorconfig
!poetry.lock
!pyproject.toml
!requirements.txt
!README.md
!CHANGELOG.md
!server/
!server/**
!setup.cfg
!deploy/
!deploy/**
!.gitlab-ci.yml
!docker-compose.yml
!docker-compose.prod.yml
!docker-compose.dev.yml
!manage.py
!docker
!docker/**
!docs/
!docs/**
!pytest.ini
!deploy.sh
docker/config/.env.dev
docker/config/.env.prod
docker/config/.env.local
docker/config/.env.local.shell
docs/_build/
docs/_build/**
__pycache__
docker/.elasticbeanstalk/
docker/.elasticbeanstalk/**
!local_fixtures/
!local_fixtures/**